<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<em><a href="/add">Add Items</a></em>
<br/><br/>

<h3>Name of JBC Store List: </h3>
<!--<span th:text="${jbcStoreLists.jbcStoreListName}"></span><br/> -->


<div th:each:="jbcStore: ${jbcStoreLists}">
<p th:text:="${jbcStore.jbcStoreListName}"></p>
</div>

<!--<tr th:each:="jbcStore: ${jbcStoreLists}">
    <td th:text:="${jbcStore.jbcStoreListName}"></td>
</tr>

<tr th:each:="jbcStore: ${jbcStoreLists}">
    <td th:text:="${jbcStoreLists.jbcStoreListName}"></td>
</tr>


<tr th:each:="jbcStoreLists: ${jbcStore}">
    <td th:text:="${jbcStore.jbcStoreListName}"></td>
</tr> -->



<!--Start of Cosmetics Display Table -->

<h3>Cosmetics</h3>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Popularity</th>
    </tr>

    <tr th:each="cosmetic: ${cosmetics}">
        <td th:text="${cosmetic.cosmeticName}"></td>
        <td th:text="${cosmetic.cosmeticBrand}"></td>
        <td th:text="${cosmetic.cosmeticPrice}"></td>
        <td th:text="${cosmetic.cosmeticPopularity}"></td>
    </tr>
</table>
<table border="1">
    <tr th:each="cosmetic: ${cosmetics}">
        <td>
            <a th:href="@{/update/{cosmeticId}(id=${cosmetic.cosmeticId})}">Update</a>
            <a th:href="@{/detail/{cosmeticId}(id=${cosmetic.cosmeticId})}">Details</a>
            <a th:href="@{/delete/{cosmeticId}(id=${cosmetic.cosmeticId})}">Delete</a>
        </td>
    </tr>
</table>
<hr/>

<!--End of Cosmetics Display Table -->

<!--Start of Cleaning Items Display Table -->

<h3>Cleaning Items</h3>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Strength</th>
    </tr>

    <tr th:each="cleaningItem: ${cleaningItems}">
        <td th:text="${cleaningItem.cleaningName}"></td>
        <td th:text="${cleaningItem.cleaningPrice}"></td>
        <td th:text="${cleaningItem.cleaningStrength}"></td>
    </tr>
</table>
<hr/>
<!--End  of Cleaning Items Display Table -->


<!--Start of Snacks Display Table -->

<h3>Snacks</h3>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Crunchiness</th>
    </tr>

    <tr th:each="Snack: ${Snacks}">
        <td th:text="${snack.snackName}"></td>
        <td th:text="${snack.snackPrice}"></td>
        <td th:text="${snack.snackCrunchiness}"></td>
    </tr>
</table>
<hr/>
<!--End  of Snacks Display Table -->


</body>
</html>